In [3]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report, confusion_matrix

In [6]:
df = pd.read_csv("./datasets/advertising.csv")

In [7]:
df.head()

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,City,Male,Country,Timestamp,Clicked on Ad
0,68.95,35,61833.90,256.09,Cloned 5thgeneration orchestration,Wrightburgh,0,Tunisia,2016-03-27 00:53:11,0
1,80.23,31,68441.85,193.77,Monitored national standardization,West Jodi,1,Nauru,2016-04-04 01:39:02,0
2,69.47,26,59785.94,236.50,Organic bottom-line service-desk,Davidton,0,San Marino,2016-03-13 20:35:42,0
3,74.15,29,54806.18,245.89,Triple-buffered reciprocal time-frame,West Terrifurt,1,Italy,2016-01-10 02:31:19,0
4,68.37,35,73889.99,225.58,Robust logistical utilization,South Manuel,0,Iceland,2016-06-03 03:36:18,0

In [8]:
del df['Ad Topic Line']
del df['Timestamp']
del df['Male']
del df['Country']
del df['City']

In [11]:
scaler = StandardScaler()
scaler.fit(df.drop("Clicked on Ad",axis=1))
scaled_features = scaler.transform(df.drop('Clicked on Ad',axis=1))

In [13]:
X = scaled_features
y = df['Clicked on Ad']

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3, random_state = 10, shuffle = True)

In [15]:
model = KNeighborsClassifier(n_neighbors=5)

In [16]:
model.fit(X_train, y_train)

KNeighborsClassifier()

In [18]:
model_predict = model.predict(X_test)
print(confusion_matrix(y_test, model_predict))
print(classification_report(y_test, model_predict))

[[144   2]
 [ 10 144]]
              precision    recall  f1-score   support

           0       0.94      0.99      0.96       146
           1       0.99      0.94      0.96       154

    accuracy                           0.96       300
   macro avg       0.96      0.96      0.96       300
weighted avg       0.96      0.96      0.96       300